body {
   margin: 0;
   padding: 0;
   font-family: "basic-sans", Arial, Helvetica;
   font-size: 20px;
   font-weight: 600;
   font-style: normal;
   color: #ffffff;
   line-height: 1.5em;
}

#site_wrap {
   background-color: #000000;
   height: 100vh;
   width: 100vw;
   overflow-x: hidden;
   display: grid;
   grid-template-columns:
      1fr repeat(4, minmax(0, 264.75px)) 1fr;
   gap: 0px;
   grid-template-rows:
      117px 100px 447px 1fr;

}

input[type=checkbox] {
   visibility: hidden;
}

.header {
   grid-area: header;
   margin: 0px 0px 20px 0px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav {
   list-style: none;
   padding-top: 3em;
   padding-left: 0;
   align-items: center;
   display: flex;
}

.header a {
   text-decoration: none;
   margin: 0px 138px 0px 0px;
   font-size: 24px;
   font-weight: bold;

}

a:visited {
   color: inherit;
}

a:hover {
   color: #0592FF;
   text-decoration: underline;
}

a.active {
   color: #0592FF;
   text-decoration: underline;
}

p a:link {
   color: #ffffff;
}

.logo {
   display: flex;
   grid-area: logo;
   align-items: center;
   justify-content: center;
   padding-top: 25px;
}

.featured_header {
   color: #747474;
   grid-area: featured_header;
   margin: 20px 0px 20px 0px;
   font-size: 48px;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
}

.featured_main {
   grid-area: featured_main;
   margin-right: 10px;
   font-size: 32px;
   font-weight: 700;
   display: flex;
   padding: 100px 0px 0px 10px;
   justify-content: center;
   line-height: 1.25;
   /* hides the featured main while on full screen mode */
   visibility: hidden;
}

.featured_profile {
   grid-area: featured_profile;
   display: flex;
   justify-content: center;
}

/* Featured_Profile Object, (Safari doesn't load my svg without this) */
.featured_profile object {
   height: 100%;
   width: 100%;
}

.footer {
   grid-area: footer;
   flex-direction: column;
   color: #747474;
   text-align: center;
   padding-top: 2em;
}

/* FOOTER, (changes the size of the anchor to 12px) */
.footer a {
   font-size: 12px;
}

/* any changes to a particular web page should go bellow this comment */

/* Site Wrap for ABOUT page, (removes the featured_main, adds the image) */
.about #site_wrap {

   grid-template-areas:
      ". header featured_main featured_main logo ."
      ". . featured_header featured_header . ."
      " . image featured_profile featured_profile featured_profile ."
      " footer footer footer footer footer footer"
   ;
}

/* ABOUT Page, (adds the grid area, flex, and justifies the image to the center) */
.about .image {
   grid-area: image;
   display: flex;
   justify-content: center;
   flex-direction: column; 
   text-align: center;
   align-items: center;
}

/* ABOUT Page, (image size and centers img) */
img {
   width: 236px;
   height: 314px;
}

/* ABOUT Page, (changes the margin to fit the image better) */
.about .featured_profile {
   justify-content: center;
   margin: 10px;
}

/* ABOUT mobile, adds the image to the gid template */
@media screen and (max-width:880px) {
   .about #site_wrap {

      grid-template-rows:
         120px 150px auto auto 1fr;

      grid-template-areas:
         "header featured_main featured_main featured_main  featured_main logo"
         "featured_header featured_header featured_header featured_header featured_header featured_header"
         ". image image image image . "
         "featured_profile featured_profile featured_profile featured_profile featured_profile featured_profile"
         " footer footer footer footer footer footer"
      ;
   }
}

.contact .github {
   grid-area: github;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* CONTACT Page, (Justifies the content to the start of the flex-box) */
.contact .featured_profile {
   justify-content: center;
   text-align: center;
   flex-wrap: wrap;
}

.form {
 display: flex;
 flex-direction: column;
 gap: 10px;
 max-width: 350px;
 background-color: #747474;
 padding: 50px;
 border-radius: 10px;
 position: relative;
}

.flex {
 display: flex;
 width: 100%;
 gap: 40px;
}

.form label {
 position: relative;
}

.form label .input {
 width: 100%;
 padding: 10px 10px 20px 10px;
 outline: 0;
 background-color: #000000;
 color: #ffffff;
}

.form label .input + span {
 position: absolute;
 left: 10px;
 top: 15px;
 color: #ffffff;
 font-size: 0.9em;
 cursor: text;
 transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
 top: 15px;
 font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
 top: 25px;
 font-size: 0.7em;
 font-weight: 400;
}

.form label .input:valid + span {
 color: #0592FF;
}

.input01 {
 width: 100%;
 padding: 10px 10px 20px 10px;
 outline: 0;
 border-radius: 5px;
 background-color: #000000;
 color: #ffffff;
}

.form label .input01 + span {
 position: absolute;
 left: 10px;
 top: 50px;
 color: #ffffff;
 font-size: 0.8em;
 cursor: text;
 transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
 top: 40px;
 font-size: 0.8em;
}

.form label .input01:focus + span,.form label .input01:valid + span {
 top: 50px;
 font-size: 0.7em;
 font-weight: 600;
}

.form label .input01:valid + span {
 color: #0592FF;
}

.fancy {
 background-color: #000000;
 border: 2px solid #747474;
 border-radius: 0px;
 box-sizing: border-box;
 color: #ffffff;
 cursor: pointer;
 display: inline-block;
 font-weight: 390;
 letter-spacing: 2px;
 margin: 0;
 outline: none;
 overflow: visible;
 padding: 8px 30px;
 position: relative;
 text-align: center;
 text-decoration: none;
 text-transform: none;
 transition: all 0.3s ease-in-out;
 user-select: none;
 font-size: 13px;
}

.fancy::before {
 content: " ";
 width: 1.7rem;
 height: 2px;
 background: #747474;
 top: 50%;
 left: 1.5em;
 position: absolute;
 transform: translateY(-50%);
 transform: translateX(270%);
 transform-origin: center;
 transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
 font-size: 1.125em;
 line-height: 1.33333em;
 padding-left: 2em;
 display: block;
 text-align: left;
 transition: all 0.3s ease-in-out;
 text-transform: lowercase;
 text-decoration: none;
 color: #747474;
 transform: translateX(30%);
}

.fancy .top-key {
 height: 2px;
 width: 1.5625rem;
 top: -2px;
 left: 0.625rem;
 position: absolute;
 background: #ffffff;
 transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
 height: 2px;
 width: 1.5625rem;
 right: 1.875rem;
 bottom: -2px;
 position: absolute;
 background: #ffffff;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
 height: 2px;
 width: 0.625rem;
 right: 0.625rem;
 bottom: -2px;
 position: absolute;
 background: #ffffff;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
 color: #ffffff;
 background: #747474;
}

.fancy:hover::before {
 width: 1.5rem;
 background: #ffffff;
}

.fancy:hover .text {
 color: #ffffff;
 padding-left: 1.5em;
}

.fancy:hover .top-key {
 left: -2px;
 width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
 right: 0;
 width: 0;
}

.contact #site_wrap {

   grid-template-areas:
      ". header featured_main featured_main logo ."
      ". . featured_header featured_header . ."
      ". github featured_profile featured_profile . ."
      " footer footer footer footer footer footer"
   ;
}

@media screen and (max-width:880px) {
   .contact #site_wrap {

      grid-template-rows:
         120px 150px 150px auto 1fr;

      grid-template-areas:
         "header featured_main featured_main featured_main  featured_main logo"
         "featured_header featured_header featured_header featured_header featured_header featured_header"
         ". . github github . . "
         ". featured_profile featured_profile featured_profile featured_profile ."
         " footer footer footer footer footer footer"
      ;
   }
}


/* HOBBIES Page, (Changes the bullet style to none) */
.hobbies .featured_profile ul {
   list-style: none;
}

.hobbies .nintendo {
   grid-area: nintendo;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.hobbies #site_wrap {

   grid-template-rows:
      117px 100px auto 1fr;

   grid-template-areas:
      ". header featured_main featured_main logo ."
      ". . featured_header featured_header . ."
      ". nintendo featured_profile featured_profile featured_profile ."
      " footer footer footer footer footer footer"
   ;
}

@media screen and (max-width:880px) {
   .hobbies #site_wrap {

      grid-template-rows:
         120px 150px auto auto 1fr;

      grid-template-areas:
         "header featured_main featured_main featured_main  featured_main logo"
         "featured_header featured_header featured_header featured_header featured_header featured_header"
         ". . nintendo nintendo . . "
         "featured_profile featured_profile featured_profile featured_profile featured_profile featured_profile"
         " footer footer footer footer footer footer"
      ;
   }
}

/* index page */
.index #site_wrap {
   grid-template-areas:
      ". header header header logo ."
      ". . featured_header featured_header . ."
      ". featured_main featured_profile featured_profile featured_profile ."
      " footer footer footer footer footer footer"
   ;
}

/* index page mobile */
@media screen and (max-width:880px) {
   .index #site_wrap {

      grid-template-rows:
         120px 150px auto 1fr;

      grid-template-areas:
         "header featured_main featured_main featured_main  featured_main logo"
         "featured_header featured_header featured_header featured_header featured_header featured_header"
         ". . . . . . "
         "featured_profile featured_profile featured_profile featured_profile featured_profile featured_profile"
         " footer footer footer footer footer footer"
      ;
   }
}

/* index page (featured main remains visible) */
.index .featured_main {
   visibility: visible;
}

/* SKILLS Page, (changes flex direction and justifies to the start) */
.skills .featured_profile {
   flex-direction: column;
   justify-content: start;
}
/* skill page, (adds graphic_art to the gird, display, and justifies to the center) */
.skills .graphic_art {
   grid-area: graphic_art;
   display: flex;
   justify-content: center;
   flex-direction: column;

}

/* address the issue of graphic_art overflowing into the featured_main */
.skills #site_wrap {

   grid-template-areas:
      ". header featured_main featured_main logo ."
      ". . featured_header featured_header . ."
      " . graphic_art featured_profile featured_profile featured_profile ."
      " footer footer footer footer footer footer"
   ;
}

/* bring the graphic_art the to top */
@media screen and (max-width:880px) {
   .skills #site_wrap {

      grid-template-rows:
         120px 150px auto auto 1fr;

      grid-template-areas:
         "header featured_main featured_main featured_main  featured_main logo"
         "featured_header featured_header featured_header featured_header featured_header featured_header"
         ". . graphic_art graphic_art . . "
         "featured_profile featured_profile featured_profile featured_profile featured_profile featured_profile"
         " footer footer footer footer footer footer"
      ;
   }
}

/* MOBILE Site Wrap for ALL webpages */
@media screen and (max-width:880px) {
   #site_wrap {

      grid-template-rows:
         120px 150px 60px auto 1fr;

      grid-template-areas:
         "header featured_main featured_main featured_main  featured_main logo"
         "featured_header featured_header featured_header featured_header featured_header featured_header"
         ". . . . . . "
         "featured_profile featured_profile featured_profile featured_profile featured_profile featured_profile"
         " footer footer footer footer footer footer"
      ;
   }

   /* this makes the hamburger menu visible 
      */
   input[type=checkbox] {
      visibility: visible;
   }

   .header {
      /* added for hamburger menu 
      */
      display: flex;
      justify-content: space-between;
      align-items: left;
      margin-left: 30px;
      margin-right: 0;
      top: 50px;
      left: 50px;
      z-index: 1;
      user-select: none;
   }

   .header a {
      display: inline-block;
      margin: 0 5px;
      font-size: 20px;
      /* added for hamburger menu */
      transition: color 0.3s ease;
   }

   /* code I used for hamburger menu can be found here https://codepen.io/erikterwan/pen/EVzeRP  */

   .header input {
      display: flex;
      width: 42px;
      height: 32px;
      position: relative;
      top: 30px;
      left: -8px;

      cursor: pointer;

      /* hide this */
      opacity: 0;
      /* and place it over the hamburger */
      z-index: 2;
   }

   .header span {
      display: flex;
      flex-direction: column;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: #ffffff;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
         background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
   }

   .header span:first-child {
      transform-origin: 0% 0%;
   }

   .header span:nth-last-child(2) {
      transform-origin: 0% 100%;
   }


   /* 
      Transform all the slices of hamburger
      into a cross mark.
    */
   .header input:checked~span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
   }

   /*
     But let's hide the middle one.
    */
   .header input:checked~span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
   }

   /*
      The last one should go the other direction
    */
   .header input:checked~span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
   }

   /*
      Make this absolute positioned
      at the top left of the screen
    */
   .nav {
      flex-direction: column;
      position: absolute;
      width: 200px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;

      background: #000000;
      list-style: none;


      transform-origin: 0% 0%;
      transform: translate(-100%, 0);

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
   }

   .nav li {
      padding: 30px 0;
      font-size: 22px;
   }

   /*
      And let's slide it in from the left
    */
   .header input:checked~ul {
      transform: none;
   }

   .featured_header {
      margin: 20px 0 0 0;

   }

   .logo {
      padding: 0 30px 20px 0;
   }

   .featured_main {
      margin-right: 0;
      font-size: 24px;
      padding: 15px 0 0 0;
      align-items: center;
   }

   .featured_main {
      visibility: visible;
   }

   .featured_profile {
      margin: 0;
      padding: 0px 15px 0px 15px;
      align-items: center;
   }

}